{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true,
        "useBuiltIns": false,
        "targets": {
          "esmodules": true
        },
        "exclude": [
          "transform-async-to-generator",
          "proposal-async-generator-functions"
        ]
      }
    ],
    [
      "@babel/react",
      {
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "esm-dir": {
      "presets": [
        [
          "@babel/env",
          {
            "loose": true,
            "shippedProposals": true,
            "modules": false
          }
        ],
        "@babel/react"
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "useESModules": true
          }
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}