.empty-star {
    background-image: url("../../images/empty.png");
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-size: contain;
}

.fill-star {
    background-image: url("../../images/fill.png");
    width: 24px;
    height: 24px;
    display: block;
    background-position: center;
    background-size: contain;
}