/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "BYekan";
  src: url("./fonts/Yekan.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;
}