body{
  direction: rtl;
}
#app-container .sidebar {
  .main-menu {
    left: unset !important;
  }
}
/* 15.Main*/
main {
  margin-right: $main-menu-width + $main-margin;
  margin-top: $navbar-height + $main-margin - 15;
  margin-left: $main-margin;
  margin-bottom: $main-margin - 20;
  transition: margin-left $menu-collapse-time;

}