$border-radius-rounded: 0.7rem;

table {
  thead {
    background: #00b894;
    color: black;
  }

  tr {
    td:last-child {
      span {
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.pull-left {
  float: left;
  text-align-last: left;
}

.pull-right {
  float: right;
  text-align-last: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 0.8em;
}

.text-xsmall {
  font-size: 0.6em;
}

.text-large {
  font-size: 1.2em;
}

.text-xlarge {
  font-size: 1.4em;
}

.text-underline {
  text-decoration: underline;
}

.text-ultralight {
  font-weight: 200;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: normal;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: bold;
}

.text-black {
  font-weight: 900;
}

//hard code !!!!!!!!!!!!!!!!!!!!!
.text-primary {
  color: #007bff !important;
}

.text-secondary {
  color: #545b62 !important;
}

.text-success {
  color: #1e7e34 !important;
}

.text-warning {
  color: #d39e00 !important;
}

.text-info {
  color: #117a8b !important;
}

.text-danger {
  color: #bd2130 !important;
}

.bb_dashed_1 {
  border-bottom: dashed 1px;
}

.bb_dashed_2 {
  border-bottom: dashed 2px;
}

.cursor-pointer {
  cursor: pointer
}

.k-grid-header-wrap {
  thead {
    th {
      a {
        text-align: center;
      }
    }
  }
}

body[dir = 'rtl'] {
  .k-grid th:first-child, .k-grid td:first-child {
    border-left-width: 1px !important;
  }
  .k-grid th:last-child, .k-grid td:last-child {
    border-left-width: 0 !important;
  }
}

// if used in SCSS, this can be reduced to
// .k-hierarchy-cell .k-plus::before { @extends .fa-expand; }

// react-datepicker2
.tether-element {
  z-index: 99999 !important;
}

.calendarContainer .dayWrapper button, .calendarContainer .dayWrapper button, .jalaali.calendarContainer .selectToday {
  text-align: center;
}

.calendarContainer .heading .rc-time-picker {
  width: 27% !important;
}

.calendarContainer .heading .title {
  width: 40% !important;
}

.calendarContainer .monthsList button,
.calendarContainer .selected button,
.calendarContainer .selected button:active,
.calendarContainer .selected button:focus,
.calendarContainer .selected button:hover {
  text-align: center;
}

// end react-datepicker2

.btn-container button {
  margin: 15px 0 15px 15px;
}

.btn-container-flat button {
  margin: 0 0 0 15px;
}

.navbar.fixed-top {
  ul {
    list-style: none;
    li {
      float: right;
    }
  }
}

div.card {
  .card-body {
    padding: 0.5rem 1.5rem;
  }

  div.card-title {
    cursor: pointer;
    margin-bottom: 0 !important;

    .btn {
      font-weight: bold;
    }
  }
}

div.card.rounded {
  border-radius: $border-radius-rounded !important;
}

div.card-title.rounded {
  border-radius: $border-radius-rounded $border-radius-rounded 0 0 !important;
}

//overwrite kendo ui styles
.k-treeview .k-i-expand, .k-treeview .k-i-collapse {
  margin-left: 0 !important;
  width: 15px;
  height: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  color: #000000;
  //background-color: #347deb;
}

.k-in {
  padding: 2px !important;
}

.k-treeview-lines {
  padding: 0;
}

.k-treeview .k-i-collapse {
  color: #000000;
  // background-color: #343434;
}

.k-content {
  margin: 15px !important;
}

.x-label, .custom-control-label {
  font-size: 0.9rem;
}

.tab-content {
  padding: 0.7em;
}

.form-control {
  padding: 0.5rem !important;
}

.k-grid th, .k-grid td {
  padding: 2px 4px;
}

button.x-btn {
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
  border-radius: 10px;
}

.x-btn.btn-lg {
  min-width: 10rem;
}

.x-btn.btn-md {
  min-width: 8rem;
}

.x-btn.btn-sm {
  min-width: 5rem;
}

body {
  font-family: BYekan, IRANSans, sans-serif !important;
  font-weight: normal !important;
}

/*.k-icon.k-i-expand:before{
  font-family: "Material Icons" !important;
  content: "\e315" !important;
}
.k-icon.k-i-collapse:before{
  font-family: "Material Icons" !important;
  content: "\e313" !important;
}*/
// End kendo ui styles


