


table {
  tr{
    td:last-child {
      span{
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}


.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.pull-left{
  float: left;
  text-align-last: left;
}
.pull-right{
  float: right;
  text-align-last: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-small {
  font-size: 0.8em;
}
.text-xsmall {
  font-size: 0.6em;
}
.text-large {
  font-size: 1.2em;
}
.text-xlarge {
  font-size: 1.4em;
}
.text-underline {
  text-decoration:underline;
}
.text-ultralight {
  font-weight: 200;
}
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: normal;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: bold;
}
.text-black {
  font-weight: 900;
}


.k-grid-header-wrap {
  thead{
    th{
      a{
        text-align: center;
      }
    }
  }
}

body[dir = 'rtl'] {
  .k-grid th:first-child, .k-grid td:first-child {
    border-left-width: 1px !important;
  }
  .k-grid th:last-child, .k-grid td:last-child {
    border-left-width: 0 !important;
  }
}


// react-datepicker2

.calendarContainer .dayWrapper button, .calendarContainer .dayWrapper button, .jalaali.calendarContainer .selectToday  {
  text-align: center;
}
.calendarContainer .heading .rc-time-picker {
  width: 27% !important;
}
.calendarContainer .heading .title {
  width: 40% !important;
}
// end react-datepicker2

.btn-container button{
  margin: 15px;
}

