


table {
  thead{
    background: #cacaca;
  }

  tr{
    td:last-child {
      span{
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }
}


.ltr {
  direction: ltr;
}
.rtl {
  direction: rtl;
}
.pull-left{
  float: left;
  text-align-last: left;
}
.pull-right{
  float: right;
  text-align-last: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-small {
  font-size: 0.8em;
}
.text-xsmall {
  font-size: 0.6em;
}
.text-large {
  font-size: 1.2em;
}
.text-xlarge {
  font-size: 1.4em;
}
.text-underline {
  text-decoration:underline;
}
.text-ultralight {
  font-weight: 200;
}
.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: normal;
}
.text-medium {
  font-weight: 500;
}
.text-bold {
  font-weight: bold;
}
.text-black {
  font-weight: 900;
}

.bb_dashed_1 {
  border-bottom: dashed 1px;
}
.bb_dashed_2 {
  border-bottom: dashed 2px;
}
.cursor-pointer{
  cursor: pointer
}
.k-grid-header-wrap {
  thead{
    th{
      a{
        text-align: center;
      }
    }
  }
}

body[dir = 'rtl'] {
  .k-grid th:first-child, .k-grid td:first-child {
    border-left-width: 1px !important;
  }
  .k-grid th:last-child, .k-grid td:last-child {
    border-left-width: 0 !important;
  }
}


// react-datepicker2
.tether-element{
  z-index: 99999 !important;
}
.calendarContainer .dayWrapper button, .calendarContainer .dayWrapper button, .jalaali.calendarContainer .selectToday  {
  text-align: center;
}
.calendarContainer .heading .rc-time-picker {
  width: 27% !important;
}
.calendarContainer .heading .title {
  width: 40% !important;
}
.calendarContainer .monthsList button,
.calendarContainer .selected button,
.calendarContainer .selected button:active,
.calendarContainer .selected button:focus,
.calendarContainer .selected button:hover{
  text-align: center;
}

// end react-datepicker2

.btn-container button{
  margin: 15px 0 15px 15px;
}
.btn-container-flat button{
  margin: 0 0 0 15px;
}


.navbar.fixed-top{
  ul{
    list-style: none;
    li{
      float: right;
    }
  }
}




//overwrite kendo ui styles
.k-treeview .k-i-expand, .k-treeview .k-i-collapse {
  margin-left: 0 !important;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  color: #ffffff;
  background-color: #347deb;
}
.k-treeview .k-i-collapse {
  color: #ffffff;
  background-color: #343434;
}
.k-content{
  margin: 15px !important;
}

.k-icon.k-i-expand:before{
  font-family: "Material Icons" !important;
  content: "\e315" !important;
}
.k-icon.k-i-collapse:before{
  font-family: "Material Icons" !important;
  content: "\e313" !important;
}
// End kendo ui styles
